version: "3.9"

services:
  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql+asyncpg://neondb_owner:npg_RkVnf07grjtp@ep-gentle-pine-ahbs5ie5-pooler.c-3.us-east-1.aws.neon.tech/neondb
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: todo-frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://backend:8000
    depends_on:
      - backend
    restart: unless-stopped
